.btn-smaller {
    width: 200px;
    height: 30px;
    font-size: 12px;
}

/* Centrer tout le contenu */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.btn-primary{
    width: 200px;
    height:200px;
}

.all{
    display: grid;
}