<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ nom_app }} - Page d'accueil</title>
</head>
<body>
  <h1>Bienvenue sur {{ nom_app }} !</h1>
  <p>Ceci est la page d'accueil de mon app Vocal Weather.</p>
  <form action="" method="get" class="form-example">
    <div class="form-example">
      <label for="ville">Entrer votre Ville: </label>
      <input type="text" name="ville" id="ville" required />
    </div>
    <div class="form-example">
      <label for="when">Quand ? : </label>
      <input type="text" name="when" id="when" required />
    </div>
    <div class="form-example">
      <input type="submit" value="Validé !" />
    </div>
  </form>
  



</body>
</html>

